FORMAT: 1A
HOST: https://api.hoist.io

# Hoist HTTP API

## URL Root

All urls have the root of https://api.hoi.io

## Authentication
Hoist uses a token based authentication. All calls should be made with an Authorization header set to Hoist <apiKey> where API Key can be found in the Hoist portal at https://portal.hoist.io

![screenshot here](/screenshot.jpg)

```http
Authorization: Hoist 23193slakdoqw3213
```

## Response Codes
Hoist uses standard REST style response codes and you should look up any response code in this table

|Response Code | Meaning|
|--------------|--------|
|200 `OK`          | Self evident|
|201 `Created`          | As `200 OK` but something was created in the call |
|404 `Not Found`          | The endpoint or expected object cannot be found|

#Group Events
All API's related to Events within Hoist.

#Event Stream [/events?token={token}&filterBy={filterBy}&filterValue={filterValue}&timeoutMs={timeoutMs}]

A streaming API to get all events as they fire


+ Model (application/json)

    + Body

            {
                token:{token},
                events:[
                {
                    "eventId":"1"
                    ...
                },
                {
                    "eventId":"2"
                    ...
                }]
            }


## Retrieve Event Stream [GET]

Retrieves a stream of events and sets up a stream token.
* Subsequent requests with the same token will return events since the last poll using that token, so it can be used to create a full stream.

* Initial requests can leave off the token and one will be generated for you.

* The token value will remain valid for 10 minutes after the last poll using the token.

eg.

```http
GET /events
Host: https://api.hoi.io
Content-Type: application/json

{
    token:'abcdefg1234'
    events:[{
        eventName:'my-event'
    }]
}
```
then
```http
GET /events?token=abcdefg1234
Host: https://api.hoi.io
Content-Type: application/json

{
    token:'abcdefg1234',
    events:[{
        ... any events since last poll using the id
        }]
}
```

+ Parameters

    + token (optional, string, `abc123`) ... the token returned in the last request to continue where it left off
    + filterBy (optional, 'eventName' or 'correlationId', `eventName`) ... the field to filter the stream by
    + filterValue (optional, string, `eventid`) ... the value to filter the stream by
    + timeoutMs (optional, number, `20000`) ... the number of ms to timeout when no events are available (will return an empty array) defaults to 10000

+ Request
    + Headers

            Content-Type: application/json
            Authorization: Hoist {authKey}

+ Response 200
    [Event Stream][]

#Event [/event/{id}]

+ Model (application/json)

    + Body

            {
                "eventId":"{id}",
                "eventName":"eventName",
                "correlationId":"correaltionId",
                "createdAt":"2014-12-22T03:58:00.760Z"
            }

## Retrieve a single Event [GET]

Get the event with the specified id

+ Parameters

    + id (string, `eventid`) ... Id of the event to return

+ Request

    + Headers

              Content-Type: application/json
              Authorization: Hoist {authKey}

+ Response 200

    [Event][]


## Add an event [POST]

Create a new event with the name specified in the body

+ Parameters

    + id (optional, string, `eventid`) ... the id of the event to create

+ Request

    + Headers

            Content-Type: application/json
            Authorization: Hoist {authKey}

    + Body
      ```
      {
        "eventName":"{eventName}"
      }
      ```

+ Response 201
    [Event][]
